.footer {
    margin-left: 80px;
    font-size: 18px;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.cell img {
    width: 100px;
    margin-top: 20px;
}

/* LEFT CONTAINER  */
.left-container div {
    /* margin-left: 80px; */
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container .cell {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px black;
    border-radius: 7px;
    margin: 10px;
    display: grid;
    justify-content: center;
    text-align: center;

}

.left-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 220px);
}

.name {
    font-size: 1em;
    width: 100px;
    /* border: 1px solid red; */
}

.num {
    /* border: 1px solid red; */
    font-size: 2em;
}



/* SCORE PART  */
.scores {
    /* border: 1px solid black; */
    margin-top: 12px;
    width: 200px;
    height: 100px;
    padding: 50px;
    text-align: center;
}

.scores h1{
    font-size: 50px;
}

.middle-container .cell {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px black;
    border-radius: 7px;
    margin: 10px;
    display: grid;
    justify-content: center;
    text-align: center;
}


/* RIGHT CONTAINER  */
.right-container .cell {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px black;
    border-radius: 7px;
    margin: 10px;
    display: grid;
    justify-content: center;
    text-align: center;
}

.right-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 220px);
}